@using Booking.Web.Models.Hotels
@model HotelViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div id="building">
    <div class="roof"></div>
    @for (int i = Model.Floors; i > 0; i--)
    {
        
        <div class="level">
            <a asp-controller="Hotels" asp-action="Floor" asp-route-id="@Model.Id" asp-route-floorNumber="@i">
                <div class="floor"><span>@i</span></div>
            </a>
        </div>
    }

</div>

