@using Booking.Web.Models.Calendar
@model DateModel;
@{
    ViewData["Title"] = "Reserved";
}

<h1>Sorry </h1>

<h2>This room is sold out on our site for your dates: @Model.Date.ToLongDateString()</h2>

